<div id="search_results">

</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-tapir.min.js"></script>
<script>
  $('#search_results').tapir({'token': '<%= @tapirgo_token %>'});
</script>
